---
{{ ansible_managed | comment }}

{% if alertmanager_configuration is defined and alertmanager_configuration | length > 0 %}
{{ alertmanager_configuration | to_nice_yaml(indent=2) }}
{% else %}
route:
  group_by: ['alertname']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 1h
  receiver: 'web.hook'
receivers:
- name: 'web.hook'
  webhook_configs:
  - url: 'http://127.0.0.1:5001/'
inhibit_rules:
  - source_match:
      severity: 'critical'
    target_match:
      severity: 'warning'
    equal: ['alertname', 'dev', 'instance']
{% endif %}
