{{ ansible_managed | comment }}

[Unit]
Description=alertmanager
Documentation=https://www.prometheus.io/docs/alerting/
Wants=network-online.target
After=network-online.target
AssertFileIsExecutable={{ alertmanager_bin_directory }}/alertmanager

[Service]
Restart=always
RestartSec=5
TimeoutSec=5
User={{ alertmanager_system_user }}
Group={{ alertmanager_system_group }}
ExecStart={{ alertmanager_bin_directory }}/alertmanager \
	--config.file={{ alertmanager_config_directory }}/alertmanager.yml \
	--storage.path={{ alertmanager_storage_dir }} \
	--web.config.file={{ alertmanager_config_directory }}/web-config.yml \
	--web.external-url={{ alertmanager_external_url }} \
	--web.listen-address={{ alertmanager_listen_address }} \
{% if alertmanager_extra_opts is defined and alertmanager_extra_opts | length > 0 %}
{% for opt in alertmanager_extra_opts %}
	{{ opt }} \
{% endfor %}
{% endif %}
	--log.level={{ alertmanager_log_level }} \
	--log.format={{ alertmanager_log_format }}
PrivateTmp=true
PrivateDevices=false
ProtectHome=true
ProtectSystem=full
ReadWriteDirectories={{ alertmanager_storage_dir }}
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
