---
{{ ansible_managed | comment }}

{% if alertmanager_web_configuration is defined and alertmanager_web_configuration | length > 0 %}
{{ alertmanager_web_configuration | to_nice_yaml(indent=2) }}
{% endif %}
